* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  margin: 0;
  background-image: url("materials/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.page-title {
  color: beige;
  font-family: fantasy;
  font-weight: bolder;
  text-align: center;
  font-size: 7em;
  margin-right: 150px;
}

.game-info-container {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
}

#hutao {
  float: left;
  width: 100px;
  height: 100px;
  border: 2px solid;
  border-color: white;
  border-radius: 50%;
  margin-right: 50px;

  position: sticky;
  top: 0px;
}

.game-info {
  color: antiquewhite;
  font-family: fantasy;
  font-size: 5em;
}

.game-container {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  justify-content: center;
  perspective: 500px;
}

.card {
  position: relative;
  height: 175px;
  width: 125px;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  backface-visibility: hidden;
  border-radius: 12px;
  border-width: 3px;
  border-style: solid;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden;
}

.image {
  align-self: center;
  width: 100%;
  height: fit-content;
  transform: translateY(-0px);
  transition: transform 100ms ease-in-out;
}

.imageValue {
  align-self: center;
  width: 100%;
  height: fit-content;
  transform: translateY(-0px);
  transition: transform 100ms ease-in-out;
}

.card.visible .card-back {
  transform: rotateY(-180deg);
}

.card.visible .card-front {
  transform: rotateY(0);
}

.card.matched .card-front .imageValue {
  animation: dance 1s linear infinite 500ms;
}

@keyframes dance {
  0%,
  100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
}

.card-back {
  background-color: white;
  border-color: cornflowerblue;
  transform: rotateY(0);
}

.card-front {
  background-color: cadetblue;
  border-color: cornflowerblue;
}
.card-back:hover .image {
  transform: translatey(-20px);
}
.card-front:hover .image {
  transform: scale(0.9);
}

.card-front {
  transform: rotateY(180deg);
}

.overlay-text {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 500ms, font-size 500ms;
}

.overlay-text.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forwards;
}
.overlay-text-small {
  font-size: 0.3em;
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    font-size: 7em;
  }
}

/*@media (max-width: 600px) {
  .game-container {
    grid-template-columns: repeat(2, auto);
  }

  .game-info-container {
    flex-direction: column;
    align-items: center;
  }
}*/
